@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Oswald&family=Roboto&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight:400;
}

h1{
	color: #66bbff;
}

.agenda{
	width:30%;
}

.botao{
	color: #000000;
	text-decoration: none;
	background-color:#87CEEB;
	padding: 10px;
	font-weight:bold;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
}

.botao2{
	color: #000000;
	text-decoration: none;
	background-color:#ee6f78;
	padding: 10px;
	font-weight:bold;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
}

.caixa{
	width:320px;
	padding:5px;
	margin-top: 10px;
	border: 1px solid #66bbff;
	border-radius:5px;
}

.caixaTel{
	padding:5px;
	margin-top: 10px;
	border: 1px solid #66bbff;
	border-radius:5px;
}

#caixaid{
	width:100px;
	padding:5px;
	margin-top: 10px;
	border: 1px solid #ff0000;
	border-radius:5px;
	
}

#tabela{
	margin-top: 30px;
	border-collapse:collapse;
}

#tabela th{
	border: 1px solid black;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff;
}

#tabela td{
	border: 1px solid black;
	padding: 10px;
}